:root {
    --table-size: min(70vh, 40vw);
    --stack: min(40vh, 70vw);
    --board: min(90vh, 90vw);
    --radius: calc(var(--board) / 20);
    --black: #181818;
    --white: #f2f3f4;
}

.cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    color: var(--black);
    cursor: pointer;
}

.output {
    overflow-x: scroll;
    white-space: nowrap;
    width: 35vw;
    margin: auto;
}

::-webkit-scrollbar {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: dimgray;
}

::-webkit-scrollbar-corner {
    background: var(--black);
}

.flip {
    -moz-transform: scaleX(-1); /* Gecko */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform: scaleX(-1); /* Standard */
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}