:root {
    --table-size: min(70vh, 40vw);
    --stack: min(40vh, 70vw);
    --font-size: 1.5rem;
}

.grid {
    margin: auto;
}

.cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    color: black;
    cursor: pointer;
}

.output {
    overflow-x: scroll;
    white-space: nowrap;
    width: 35vw;
    margin: auto;
}
