name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Setup wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'
      - name: Build WASM
        run: |
          wasm-pack build ./lights-out-wasm --target web
          wasm-pack build ./slant-wasm --target web
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run all linting checks
        run: bun run lint:all

      - name: Run Type Checking
        run: bun run type-check

  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Setup wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'
      - name: Build WASM
        run: |
          wasm-pack build ./lights-out-wasm --target web
          wasm-pack build ./slant-wasm --target web
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run automated tests
        run: bun run test:ci

  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'

      - name: Build WASM
        run: |
          wasm-pack build ./lights-out-wasm --target web
          wasm-pack build ./slant-wasm --target web

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install and Build
        run: |
          bun install --frozen-lockfile
          bun run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
